<!DOCTYPE html>
<html>

    <head>
        <title>MadLibs Bois</title>
    </head>

    <body>
        <h1>Get a MadLib, Boi!</h1>
        <form action="/output" method="POST">
        <label for="noun">Noun</label>
        <input type="text" id="noun" name="noun">
        <label for="verb">Verb</label>
        <input type="text" id="verb" name="verb">
        <label for="adverb">Adverb</label>
        <input type="text" id="adverb" name="adverb">
        <label for="adjective">Adjective</label>
        <input type="text" id="adjective" name="adjective">
        <button type="submit" value="puppy" name="prompt">Puppy</button>
        <button type="submit" value="RV" name="prompt">RV</button>
        </form>

    </body>

</html>